<nav class="navbar navbar-expand-lg fixed-top bg-glass px-3 mx-lg-4" id="mainNav">
  <a class="navbar-brand fw-bold" href="#page-top">
    <img src="assets/images/setifis_logo.png" alt="" width="40" height="40"
      class="d-inline-block align-text-center me-2" />
    <span>Setifis Tech</span>

  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
    <i class="bi-list"></i>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show': !isNavbarCollapsed}" id="navbarResponsive">
    <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
      <li class="nav-item"><a (click)="scrollTo('hero')" class="nav-link me-lg-3">Home</a></li>
      <li class="nav-item"><a (click)="scrollTo('about')" class="nav-link me-lg-3">About </a></li>
      <li class="nav-item"><a (click)="scrollTo('values')" class="nav-link me-lg-3">Services</a></li>
      <li class="nav-item"><a (click)="scrollTo('projects')" class="nav-link me-lg-3">Projects</a></li>
      <li class="nav-item"><a (click)="scrollTo('footer')" class="nav-link me-lg-3">Contact</a></li>
    </ul>
    <!-- CTA buttons -->
    <button class="call-us scrollto d-inline-flex align-items-center border-0 d-none d-lg-flex"
      (click)="scrollTo('footer')">
      <span class="p-2">Call us</span>
    </button>
  </div>
</nav>

<main>
  <!-- Hero Section -->
  <div class="container-lg container-fluid-md">
    <section class="hero" id="hero" data-aos="fade-up">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-7 p-3" data-aos="zoom-out" data-aos-delay="400">
          <!-- Hero content -->
          <div class="mb-3 mb-lg-0 mx-3 ms-lg-5 text-center text-md-start">
            <h1 class="display-5 mb-3">Your Trusted Partner in Digital Transformation</h1>
            <p class="lead fw-normal text-muted mb-5">
              From Concept to Delivery: End-to-End Development Solutions with Impeccable UI/UX, Coding, Database
              Management, and Testing Expertise
            </p>
            <!-- CTA buttons -->
            <div class="d-flex justify-content-center justify-content-md-start">
              <button class="cta-btn scrollto d-inline-flex align-items-center border-0" (click)="getStarted('about')">
                <span>Get Started</span>
                <i class="bi bi-arrow-right"></i>
              </button>
            </div>
          </div>
        </div>
        <!-- Hero image -->
        <div class="col-lg-5" data-aos="zoom-in" data-aos-delay="400">
          <div class="hero-image">
            <img src="assets/images//hero-imag.png" alt="">
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- End hero section -->


  <!-- ======= About Section ======= -->
  <div id="about" class="about">
    <div class="container p-3" data-aos="fade-up">
      <div class="row gx-0">
        <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="400">
          <div class="content">
            <h3>Who We Are</h3>
            <h2>Meet Our Dynamic Trio: Crafting Exquisite UI/UX Web & Mobile Apps</h2>
            <p>
              We are a team of passionate developers and designers who have years of experience in building custom web
              and mobile apps for various industries and niches. Whether you need a simple website, a complex e-commerce
              platform, a native or hybrid mobile app, or any other digital solution, we can handle it with
              professionalism and creativity.

              We work closely with you to understand your goals, needs, and preferences, and we deliver solutions that
              exceed your expectations.

            </p>
            <!-- <div class="text-center text-lg-start">
              <a href="#"
                class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Read More</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center justify-content-center mb-3" data-aos="zoom-out"
          data-aos-delay="400">
          <img src="assets/images/about-us.png" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </div><!-- End About Section -->

  <!-- ======= Values Section ======= -->
  <div id="values" class="values">

    <div class="container my-3" data-aos="fade-up">

      <header class="section-header">
        <h2>WHAT WE DO </h2>
        <p>Our Services </p>
      </header>

      <div class="row justify-content-center">

        <div class="col-md-6 col-lg-5 my-2" data-aos="fade-up" data-aos-delay="600">
          <div class="box bg-glass">
            <img src="assets/images/ui-ux.png" class="img-fluid" alt="">
            <h3>Ui/UX Design</h3>
            <p> We design stunning websites that reflect your brand identity and vision. We use creative and
              user-centric UI/UX design principles to create websites that are attractive, intuitive, and easy to
              navigate. We also optimize your websites for SEO and performance.</p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 my-2" data-aos="fade-up" data-aos-delay="600">
          <div class="box bg-glass">
            <img src="assets/images/digital-solution.png" class="img-fluid" alt="">
            <h3>Digital Solutions</h3>
            <p>We offer a range of digital solutions to help you grow your online presence and reach more customers. We
              provide services such as e-commerce platforms, content management systems, progressive web apps, SaaS
              products, and more. We also offer ongoing support and maintenance for your digital solutions.
            </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 my-2" data-aos="fade-up" data-aos-delay="400">
          <div class="box bg-glass">
            <img src="assets/images/mobile-dev.png" class="img-fluid" alt="">
            <h3>Mobile Development</h3>
            <p> We build native and hybrid mobile applications for iOS and Android platforms. We design and develop
              mobile apps that are fast, responsive, and engaging. We also integrate your mobile apps with web services
              and cloud platforms. </p>
          </div>
        </div>

        <div class="col-md-6 col-lg-5 my-2" data-aos="fade-up" data-aos-delay="200">
          <div class="box bg-glass">
            <img src="assets/images/web-dev.png " class="img-fluid" alt="">
            <h3>Web Development</h3>
            <p>We create custom web applications that are secure, scalable, and user-friendly. We use the latest
              technologies and best practices to deliver web solutions that meet your business goals and customer needs.
            </p>
          </div>
        </div>


      </div>

    </div>

  </div><!-- End Values Section -->

  <div id="projects" class="container my-3">

    <header class="section-header" data-aos="fade-up">
      <h2>PORTFOLIO </h2>
      <p>Our Projects </p>
    </header>
    <div class="d-flex flex-wrap gap-3 justify-content-center">
      <div class="position-relative" data-aos="fade-right" data-aos-delay="500">
        <div class="project-card">
          <div class="image">
            <img src="assets/images/projects/mobile/adh/adh1.jpg" />
          </div>
          <div class="details bg-glass">
            <div class="center">
              <h1><span>management app</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <a class="link">See more </a>
            </div>
          </div>
          <div class="project-footer bg-glass p-3">
            <h5>ADH Protoclean</h5>
            <div class="d-flex flex-wrap gap-2 ms-1 mt-2">
              <span class="badge bg-primary">Dart</span>
              <span class="badge bg-info">Flutter</span>
              <span class="badge bg-warning">Php</span>
              <span class="badge bg-danger">Laravel</span>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative" data-aos="fade-left" data-aos-delay="500">
        <div class="project-card">
          <div class="image">
            <img src="assets/images/projects/mobile/animo/animo1.jpg" />
          </div>
          <div class="details bg-glass">
            <div class="center">
              <h1><span>management app</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <a class="link">See more </a>
            </div>
          </div>
          <div class="project-footer bg-glass p-3">
            <h5>Animo</h5>
            <div class="d-flex flex-wrap gap-2 ms-1 mt-2">
              <span class="badge bg-primary">Dart</span>
              <span class="badge bg-info">Flutter</span>
              <span class="badge bg-warning">Firebase</span>
            </div>
          </div>
        </div>
      </div>
      <div class="position-relative" data-aos="fade-right" data-aos-delay="500">
        <div class="project-card">
          <div class="image">
            <img src="assets/images/projects/mobile/sharikcare/sharikcar1.jpg" />
          </div>
          <div class="details bg-glass">
            <div class="center">
              <h1><span>management app</span></h1>
              <p>Lorem ipsum is simple dummy text on the printing and typesetting industry.</p>
              <a class="link">See more </a>
            </div>
          </div>
          <div class="project-footer bg-glass p-3">
            <h5>Sharik Car</h5>
            <div class="d-flex flex-wrap gap-2 ms-1 mt-2">
              <span class="badge bg-primary">Dart</span>
              <span class="badge bg-info">Flutter</span>
              <span class="badge bg-warning">Firebase</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row gy-4" data-aos="zoom-out" data-aos-delay="400">
        <div class="col-lg-5 col-md-12 footer-info">
          <div href="index.html" class="logo d-flex align-items-center">
            <img src="assets/images/setifis_logo.png" alt="">
            <span>Sétifis Tech</span>
          </div>
          <!-- <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
            darta donna mare fermentum iaculis eu non diam phasellus.</p> -->
          <div class="social-links mt-3 ms-5">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>
            209 city <br>
            Setif, Ain-Arnet<br>
            Algeria <br><br>
            <strong>Phone:</strong> 05.62.41.39.35<br>
            <strong>Email:</strong> setifistech@gmail.com<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="container" data-aos="zoom-in" data-aos-delay="400">
    <div class="copyright">
      &copy; Copyright <strong><span>Sétifis Tech</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="#">Setifis Tech</a>
    </div>
  </div>
</footer><!-- End Footer -->
